name: backend-${ENV_NAME}
services:
  api:
    image: gymjunkie-api:latest 
    container_name: api-${ENV_NAME}
    build:
      context: .
      dockerfile: Dockerfile.api
    env_file:
      - app/envs/${ENV_NAME}.env
    volumes:
      - ./app:/api/app
    ports: 
      - "${SERVER_PORT}:${SERVER_PORT}"
  redis: 
    image: redis
    container_name: redis-${ENV_NAME}
    command: ["redis-server"]
    ports:
      - "${REDIS_PORT}:${REDIS_PORT}"
    restart: unless-stopped
  sync-redis:
    image: gymjunkie-sync-redis:latest 
    container_name: sync-redis-${ENV_NAME}
    build:
      context: sync_redis
      dockerfile: Dockerfile.sync_redis
    env_file:
      - app/envs/${ENV_NAME}.env
    volumes:
      - ./sync_redis/sync.py:/app/sync.py
  nginx:
    image: nginx:alpine
    container_name: nginx_proxy
    restart: unless-stopped
    env_file:
      - app/envs/${ENV_NAME}.env
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf.template:/etc/nginx/nginx.conf.template:ro
      - ./nginx/ssl:/etc/nginx/ssl:ro
    depends_on:
      - api