services:
  api:
    image: gymjunkie-api:latest 
    container_name: api-${ENV_NAME}
    build:
      context: .
      dockerfile: Dockerfile.api
    env_file:
      - app/envs/${ENV_NAME}.env
    volumes:
      - ./app:/api/app
    ports: 
      - "${SERVER_PORT}:${SERVER_PORT}"
    networks:
      - api-network
  redis: 
    image: redis
    container_name: redis-${ENV_NAME}
    command: ["redis-server"]
    restart: unless-stopped
    networks:
      - api-network
  sync-redis:
    image: gymjunkie-sync-redis:latest 
    container_name: sync-redis-${ENV_NAME}
    build:
      context: .
      dockerfile: sync_redis/Dockerfile.sync_redis
    env_file:
      - app/envs/${ENV_NAME}.env
    volumes:
      - ./sync_redis/sync.py:/app/sync.py
    networks:
      - api-network
  nginx:
    image: nginx:alpine
    container_name: nginx-proxy-${ENV_NAME}
    restart: unless-stopped
    env_file:
      - app/envs/${ENV_NAME}.env
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf.template:/etc/nginx/templates/nginx.conf.template:ro
      - ./nginx/ssl:/etc/nginx/ssl:ro
    networks:
      - api-network
    depends_on:
      - api

networks:
  api-network:
    driver: bridge
