name: backend-${ENV_NAME}
services:
  server:
    image: gymjunkie-server:latest 
    container_name: server-${ENV_NAME}
    build: .
    env_file:
      - app/envs/${ENV_NAME}.env
    volumes:
      - ./app:/server/app
    ports: 
      - "${SERVER_PORT}:${SERVER_PORT}"
  redis: 
    image: redis
    container_name: redis-${ENV_NAME}
    command: ["redis-server", "--requirepass", "password"]
    ports:
      - "${REDIS_PORT}:${REDIS_PORT}"
    restart: unless-stopped
  sync-redis:
    image: gymjunkie-sync-redis:latest
    container_name: sync-redis-${ENV_NAME}
    build:
      context: ./lambda
      dockerfile: sync-redis/Dockerfile
    env_file:
      - app/envs/${ENV_NAME}.env
    volumes:
      - ./lambda/sync-redis/app.py:/var/task/app.py
    ports:
      - "${LAMBDA_SYNC_REDIS_PORT}:8080"